# Random files
qml_data/

# Images
examples/ZZFeatureMap_TwoLocal_ZZFeatureMap_ring_TwoLocal_ring_Circuit1_TwoLocal_final.pdf
examples/complete_comparison_final.pdf
examples/complete_comparison_final2.pdf
examples/complete_comparison_final3.pdf
examples/entanglement_diff_3d_final.pdf
examples/expr_linear_comparison_final.pdf
examples/normalized_entanglement_final.pdf

# Ent_char folder
ent_char/.ipynb_checkpoints/
ent_char/entanglement_characterization/data/
ent_char/

# Examples folder
examples/data/
examples/Ent_visualize_OLD.ipynb
examples/Ent_visualize_Local.ipynb
examples/Expr_visualize_Local.ipynb

# Other files
qcircha/visualize.py
visualizer.ipynb


# docs
docs/_build

# temporary files, e.g., emacs
*~

# Swap files
*.swp

# Backup files
*.bak

# Binary files, compiled files
bin/*
*mod
*.o
executables/*
*.exe

# data folder for communication
data/*
results/*
*/data/*
*/results/*

# documentation folders
latex/*
html/*
public/

# Other files
.DS_Store
.vscode

# python cache etc
*/__pycache__/*
*.pyc
*.dSYM
*.egg-info
python/docs/_build/*
.ipynb_checkpoints/*

